* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevents horizontal scrollbars */
  overflow-y: auto; /* Allows vertical scrolling */
  background-color: #0f0f0f; /* Default dark background matching YouTube theme */
}

.App {
  padding: 0;
  margin: 0;
}